#Analiza in vizulaizacija vremenskih razmer

Avtor: David Planinšek Šilc

### Uvod

V nalogi je moj namen najprej pridobiti podatke o vremenu, v nekem časovnem intervalu in lokaciji. Nato te podatke shraniti v datoteko *.csv*. Nato pa jih analizirati ter vizualizirati.
Podatki vključujejo datum, temperatura tega dne, seštevek dnevnih padavin, padavine v urah in sončne radijacije.

### Pridobitev podatkov

In [8]:
import podatki
import pandas as pd

Izberemo si časovni interval

In [3]:
zac = "1990-01-01"
konec = "2020-12-31"

Izberemo si še koordinate na katerih nas zanima vreme

In [4]:
sirina = 46.0833
dolzina = 15.0

Sedaj pridobimo podatke iz strežnika

In [7]:
df = podatki.pridobi_uredi(sirina, dolzina, zac, konec)
df

            datum  temperatura  dež_sum  dež_ure  radijacija
0      1990-01-01         -2.0      0.0      0.0        3.03
1      1990-01-02         -0.4      0.0      0.0        4.71
2      1990-01-03         -0.7      0.0      0.0        4.02
3      1990-01-04         -1.7      0.0      0.0        4.51
4      1990-01-05         -1.6      0.0      0.0        5.75
...           ...          ...      ...      ...         ...
11318  2020-12-27         -0.4      0.0      0.0        4.20
11319  2020-12-28          3.2     21.0     17.0        2.34
11320  2020-12-29          5.0     14.0     18.0        2.32
11321  2020-12-30          5.3      5.6     11.0        3.56
11322  2020-12-31          3.0      3.5     12.0        3.27

[11323 rows x 5 columns]

Uporabimo knjižnico pandas za opis podatkov s katerimi delamo

In [11]:
df.describe()

        temperatura       dež_sum       dež_ure    radijacija
count  11323.000000  11323.000000  11323.000000  11323.000000
mean      12.754782      3.095770      5.038771     12.686653
std        8.347892      6.584821      6.795873      7.711974
min      -12.400000      0.000000      0.000000      0.330000
25%        6.200000      0.000000      0.000000      5.760000
50%       13.100000      0.100000      1.000000     11.700000
75%       19.400000      2.900000      9.000000     19.530000
max       34.100000     70.800000     24.000000     29.390000

Shranimo tabelo v datkoteko *podatki.csv*

In [12]:
podatki.shrani_tabelo(df, "podatki")